@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: BioSans;
    font-weight: 400;
    src: url("/fonts/biosans-regular.otf") format("opentype");
  }
  @font-face {
    font-family: BioSans;
    font-weight: 800;
    src: url("/fonts/biosans-bold.otf") format("opentype");
  }

  @font-face {
    font-family: BioSans;
    font-weight: 700;
    src: url("/fonts/biosans-semibold.otf") format("opentype");
  }

  @font-face {
    font-family: BioSans;
    font-weight: 300;
    src: url("/fonts/biosans-light.otf") format("opentype");
  }

  @font-face {
    font-family: Termina;
    font-weight: 700;
    src: url("/fonts/termina-bold.otf") format("opentype");
  }

  h1 {
    @apply font-termina text-[32px] font-bold sm:text-[48px] lg:text-[64px];
    line-height: 1.1;
  }
  h2 {
    @apply font-termina text-[24px] font-bold sm:text-[32px] lg:text-[40px];
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  h3 {
    @apply font-termina text-[20px] font-bold sm:text-[24px] lg:text-[32px];
    line-height: 1.2;
  }
  h4 {
    @apply font-termina text-[16px] font-bold sm:text-[20px] lg:text-[20px];
    line-height: 1.4;
  }
  h5 {
    @apply font-termina text-[14px] font-bold sm:text-[16px] lg:text-[16px];
    line-height: 1.5;
  }

  * {
    /*letter-spacing: -0.02em;*/
  }

  /* ... */

  .gradient-tricolor {
    /*@apply bg-gradient-to-tr from-primary-500 via-secondary-500 to-tertiary-500;*/
    background-image: linear-gradient(
      -65.1deg,
      #e8858e 6.72104%,
      #c260fe 59.5099%,
      #5834ff 100%
    );
  }

  .border-gradient-tricolor {
    border-image-source: linear-gradient(
      -65.1deg,
      #e8858e 6.72104%,
      #c260fe 59.5099%,
      #5834ff 100%
    );
    border-image-slice: 1;
  }

  .gradient-primary-secondary {
    @apply bg-gradient-to-tr from-primary-500 to-secondary-500;
  }

  .border-gradient-secondary {
    /*background-clip: padding-box;*/
    @apply relative;
  }

  .border-gradient-secondary::after {
    @apply absolute inset-0 p-0.5 rounded-full bg-gradient-to-r from-primary-500 to-secondary-500;
    content: "";
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradient-secondary-tertiary {
    @apply bg-gradient-to-tr from-primary-500 to-secondary-500;
  }



  .card-red {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);
    background: linear-gradient(
        116deg,
        rgba(232, 65, 66, 0.05) 17.81%,
        rgba(255, 255, 255, 0) 66.18%
      ),
      rgba(242, 243, 251, 0.9);
    backdrop-filter: blur(50px);
  }

  .card-dark {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);
    background: linear-gradient(
        116deg,
        rgba(255, 255, 255, 0.05) 17.81%,
        rgba(255, 255, 255, 0) 66.18%
      ),
      rgba(242, 243, 251, 0.9);
    backdrop-filter: blur(50px);
  }

  .card-blue {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);
    background: linear-gradient(
        116deg,
        rgba(0, 141, 228, 0.05) 17.81%,
        rgba(255, 255, 255, 0) 66.18%
      ),
      rgba(242, 243, 251, 0.9);
    backdrop-filter: blur(50px);
  }

  .card-yellow {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);

    background: linear-gradient(
        116deg,
        rgba(255, 213, 63, 0.05) 17.81%,
        rgba(255, 255, 255, 0) 66.18%
      ),
      rgba(242, 243, 251, 0.9);

    backdrop-filter: blur(50px);
  }

  .card-purple {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);
    background: linear-gradient(
        116deg,
        rgba(144, 50, 211, 0.05) 17.81%,
        rgba(255, 255, 255, 0) 66.18%
      ),
      rgba(242, 243, 251, 0.9);
    backdrop-filter: blur(50px);
  }

  .card-green {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);
    background: linear-gradient(
        116deg,
        rgba(38, 214, 149, 0.05) 17.81%,
        rgba(255, 255, 255, 0) 66.18%
      ),
      rgba(242, 243, 251, 0.9);
    backdrop-filter: blur(50px);
  }

  html.dark .card-yellow {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);
    background: linear-gradient(
        116deg,
        rgba(255, 213, 63, 0.1) 17.81%,
        rgba(10, 12, 22, 0) 66.18%
      ),
      rgba(10, 12, 23, 0.9);
    backdrop-filter: blur(50px);
  }

  html.dark .card-red {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);

    background: linear-gradient(
        116deg,
        rgba(232, 65, 66, 0.1) 17.81%,
        rgba(10, 12, 22, 0) 66.18%
      ),
      rgba(10, 12, 23, 0.9);

    backdrop-filter: blur(50px);
  }

  html.dark .card-blue {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);

    background: linear-gradient(
        116deg,
        rgba(0, 141, 228, 0.1) 17.81%,
        rgba(10, 12, 22, 0) 66.18%
      ),
      rgba(10, 12, 23, 0.9);

    backdrop-filter: blur(50px);
  }

  html.dark .card-dark {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);

    background: linear-gradient(
        116deg,
        rgba(255, 255, 255, 0.1) 17.81%,
        rgba(10, 12, 22, 0) 66.18%
      ),
      rgba(10, 12, 23, 0.9);

    backdrop-filter: blur(50px);
  }
  html.dark .card-purple {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);

    background: linear-gradient(
        116deg,
        rgba(144, 50, 211, 0.1) 17.81%,
        rgba(10, 12, 22, 0) 66.18%
      ),
      rgba(10, 12, 23, 0.9);

    backdrop-filter: blur(50px);
  }
  html.dark .card-green {
    border-radius: 16px;
    border: 1px solid rgba(119, 155, 155, 0.2);

    background: linear-gradient(
        116deg,
        rgba(38, 214, 149, 0.1) 17.81%,
        rgba(10, 12, 22, 0) 66.18%
      ),
      rgba(10, 12, 23, 0.9);

    backdrop-filter: blur(50px);
  }

  @media (min-width: 640px) {
    .card-red {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      backdrop-filter: blur(50px);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(232, 65, 66, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(242, 243, 251, 0.9);
    }

    .card-dark {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      backdrop-filter: blur(50px);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(242, 243, 251, 0.9);
    }

    .card-blue {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      backdrop-filter: blur(50px);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(0, 141, 228, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(242, 243, 251, 0.9);
    }

    .card-yellow {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      backdrop-filter: blur(50px);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(255, 213, 63, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(242, 243, 251, 0.9);
    }

    .card-purple {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      backdrop-filter: blur(50px);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(144, 50, 211, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(242, 243, 251, 0.9);
    }

    .card-green {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      backdrop-filter: blur(50px);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(38, 214, 149, 0.05) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        rgba(242, 243, 251, 0.9);
    }

    html.dark .card-yellow {
      border: 1px solid rgba(119, 122, 155, 0.2);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(255, 197, 110, 0.10) 0%,
          rgba(19, 21, 31, 0) 100%
        ),
        rgba(10, 12, 23, 0.9);
      backdrop-filter: blur(50px);
    }

    html.dark .card-red {
      border: 1px solid rgba(119, 122, 155, 0.2);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(214, 37, 37, 0.10) 0%,
          rgba(19, 21, 31, 0) 100%
        ),
        rgba(10, 12, 23, 0.9);
      backdrop-filter: blur(350px);
    }

    html.dark .card-blue {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(0, 211, 253, 0.10) 0%,
          rgba(19, 21, 31, 0) 100%
        ),
        rgba(10, 12, 23, 0.9);
      backdrop-filter: blur(50px);
    }

    html.dark .card-dark {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);

      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(105, 112, 255, 0.10) 0%,
          rgba(19, 21, 31, 0) 100%
        ),
        rgba(10, 12, 23, 0.9);

      backdrop-filter: blur(50px);
    }
    html.dark .card-purple {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);

      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(157, 95, 255, 0.10) 0%,
          rgba(19, 21, 31, 0) 100%
        ),
        rgba(10, 12, 23, 0.9);

      backdrop-filter: blur(50px);
    }
    html.dark .card-green {
      border-radius: 24px;
      border: 1px solid rgba(119, 122, 155, 0.2);
      background: radial-gradient(
          84.54% 71.61% at 50% 23.04%,
          rgba(35, 247, 221, 0.10) 0%,
          rgba(19, 21, 31, 0) 100%
        ),
        rgba(10, 12, 23, 0.9);
      backdrop-filter: blur(100%);
    }

    html.dark .card-gold {
      border-radius: 24px;
      border: 2px solid rgba(255, 184, 0, 0.30);
      background: radial-gradient(54.54% 61.61% at 50% 23.04%, rgba(255, 168, 0, 0.30) 0%, rgba(19, 21, 31, 0.00) 100%), rgba(31, 25, 14, 0.90);
      backdrop-filter: blur(50px);
    }
  }

  .filter-invert {
    filter: invert(1);
  }
}
